<!DOCTYPE html>
<html>

  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <style>
      @import url('https://fonts.cdnfonts.com/css/bookerly');
    </style>

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />

    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

  </head>

  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>

          <div class="site-info">
            <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
            <mark>{{ site.description }}</mark>
          </div>

          <!--<nav>
            <a href="{{ site.baseurl }}/">Blog</a>
            <a href="{{ site.baseurl }}/about">About</a>
          </nav>
        -->
        </header>
      </div>
    </div>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/anchor-js/anchor.min.js"></script>
    <script>
      anchors.options = {
        placement: 'left',
        visible: 'always'
      };
      anchors.add();
    </script>

    <script>
      const copyButtonLabel = "⧉";

      let blocks = document.querySelectorAll("pre");

      blocks.forEach((block) => {
        // only add button if browser supports Clipboard API
        if (navigator.clipboard) {
          let button = document.createElement("button");
          button.innerText = copyButtonLabel;
          button.addEventListener("click", copyCode);
          block.appendChild(button);
        }
      });

      async function copyCode(event) {
        const button = event.srcElement;
        const pre = button.parentElement;
        let code = pre.querySelector("code");
        let text = code.innerText;
        await navigator.clipboard.writeText(text);

        button.innerText = "✓ Copied";

        setTimeout(() => {
          button.innerText = copyButtonLabel;
        }, 1000)
      }
    </script>

  </body>

</html>